<script src="/socket.io/socket.io.js"></script>
<script>
var socket = io.connect('http://localhost:8000', { 'connect timeout': 5000});

socket.on('error', function(){
    console.log("connection failed");
});
socket.on('connect', function(){
    console.log("username " +process.argv[2]);
    socket.emit('login', process.argv[2]);

    socket.on('event', function(data){});
    socket.on('message', function(data){
        console.log(data);
    });
    socket.on('disconnect', function(){
        console.log("disconnected");
    });
});

</script>
